<%= turbo_stream_from "questions" %>


<% content_for :title, "Surveys" %>

<div class="container-md">
  <% if @current_user_signed_in %>
    <div class="logout-btn">
      <%= button_to(
            "Log Out #{current_user.username}",
            destroy_user_session_path,
            method: :delete,
            class: 'btn btn-warning'
          ) %>
    </div>

    <%= render "form", question: Question.new %>

  <% else %>
    <p></p>
    <%= button_to(
          "Log In to Add or Respond to a Question",
          new_user_session_path,
          method: :GET,
          class: 'btn btn-success'
        ) %>
  <% end %>
  
  <p></p>

  <div class="container-sm">
    <table class="table table-striped table-bordered table-small">
      <thead>
      <th scope="col">Question</th>
      <th scope="col">Added By</th>
      <th class="center" scope="col">Yes's</th>
      <th class="center" scope="col">No's</th>
      <% if @current_user_signed_in %>
        <th scope="col">Response</th>
        <th></th>
      <% end %>
      </thead>
      <tbody id="questions" class="table-group-divider">
      <turbo-stream action="prepend" target="questions">
        <template>
          <% @questions.each do |question| %>
            <% response = Response.find_by_question_id_and_user_id(question.id, current_user.id) || Response.new if @current_user_signed_in %>
            <%= render question, response: response, current_user_signed_in: @current_user_signed_in %>
          <% end %>
        </template>
      </turbo-stream>
      </tbody>
    </table>
  </div>
</div>

<!--<%#= link_to "New question", new_question_path %></br>-->
